
.icon-lamp:before { content: '\e800'; } /* '' */
.icon-puzzle-outline:before { content: '\e801'; } /* '' */
.icon-globe:before { content: '\e802'; } /* '' */
.icon-graduation-cap:before { content: '\e803'; } /* '' */
.icon-picture:before { content: '\e804'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */
.icon-linkedin:before { content: '\f31a'; } /* '' */